*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

.container{
    max-width:420px;
    margin:auto;
    padding:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}

h1{
    color:#38bdf8;
}

p{
    color:#cbd5e1;
    margin-top:10px;
}

.btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    font-size:18px;
}
